<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Wybory Prezydenta 2000</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="top">
    <div id="left_box" class="side_box">
    </div>
    <div id="title">
        <h1>Wybory Prezydenta 2000</h1>
    </div>
    <div id="right_box" class="side_box">

        {% if czy_zalogowany is False %}
            <a href="login">
                <div>
                    login
                </div>
            </a>
            <a href="signup">
                <div>register
                </div>
            </a>
        {% else %}
            <a href="logout" style="border-right: 1px solid whitesmoke">
                <div>
                    logout
                </div>
            </a>
        {% endif %}


    </div>
</div>
<div id="tresc">
    <div id="nawigacja">
        {% comment %}
        <h3>Jesteś tutaj: <a href="main.html">Polska</a>
            {% for el in jednostki %}
                | <a href="{{ el[0] }}.html">{{ el[1] }}</a>
            {% endfor %}
        </h3>
    {% endcomment %}
    </div>
    {% if czy_zalogowany is True %}
        <form id="update_form" method="post" action="#"> {% csrf_token %}
    {% endif %}
    <div id="wyniki_top">
        <div id="wyniki_top_zbiorcze">
            <div id="wyniki_top_zbiorcze_gora">
                <div>
                    <h4>Zbiorcze statystyki głosowania</h4>

                    {% if czy_zalogowany is False or czy_gmina is False %}
                        <div>
                            <div>
                                <div>Liczba uprawnionych do głosowania</div>
                                <div>{{ uprawnionych }}</div>
                            </div>
                            <div>
                                <div>Liczba kart ważnych</div>
                                <div>{{ kart_waznych }}</div>
                            </div>
                            <div>
                                <div>Liczba głosów ważnych</div>
                                <div>{{ glosow_waznych }}</div>
                            </div>
                            <div>
                                <div>Liczba głosów nieważnych</div>
                                <div>{{ glosow_niewaznych }}</div>
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div>
                                <div>Liczba uprawnionych do głosowania</div>
                                <div><input name="uprawnionych"
                                            value="{{ uprawnionych }}"
                                            type="text"
                                            class="input"/>
                                </div>
                            </div>
                            <div>
                                <div>Liczba kart ważnych</div>
                                <div><input name="kart_waznych"
                                            value="{{ kart_waznych }}"
                                            type="text"
                                            class="input"/>
                                </div>
                            </div>
                            <div>
                                <div>Liczba głosów ważnych</div>
                                <div><input name="glosow_waznych"
                                            value="{{ glosow_waznych }}"
                                            type="text"
                                            class="input"/>
                                </div>
                            </div>
                            <div>
                                <div>Liczba głosów nieważnych</div>
                                <div><input name="glosow_niewaznych"
                                            value="{{ glosow_niewaznych }}"
                                            type="text"
                                            class="input"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% if czy_zalogowany is True and czy_gmina is True %}
        <div id="submit_button">
            <button class="button" type="submit">Submit</button>
        </div>
    {% endif %}
    <div id="wyniki_ogolne">
        <h3>Wyniki wyborów</h3>
        <div id="wyniki_ogolne_tabela">
            <table class="wyniki">
                <thead>
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Liczba oddanych głosów</th>
                    <th>Wynik wyborczy</th>
                </tr>
                </thead>
                <tbody>
                {% for kandydat in kandydaci %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ kandydat.0 }}</td>
                        <td>
                            {% if czy_zalogowany is False or czy_gmina is False %}
                                {{ kandydat.1 }}
                            {% else %}
                                <div><input name="{{ kandydat.0 }}"
                                            value="{{ kandydat.1 }}"
                                            type="text"
                                            class="input"/>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <div style="width:{{ kandydat.2 }}%;
                                                    background-color: {{ kandydat.3 }};"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>{{ kandydat.2 }}%</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="wykres_slupkowy">
        <div id="kontener_wykresu">
            {% for kandydat in kandydaci %}
                <div style="background-color: {{ kandydat.3 }}; width: {{ kandydat.2 }}%"></div>
            {% endfor %}
        </div>
    </div>

    {% if czy_gmina %}

    {% else %}
        <div id="wyniki_szczegolowe">
            <div id="wyniki_szczegolowe_tabela">
                <table class="wyniki">
                    <thead>
                    <tr>
                        {% for label in labels %}
                            <th>{{ label }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for wiersz in wyniki %}
                        <tr>
                            {% for kolumna in wiersz %}
                                {% if forloop.counter == 1 %}
                                    <td><a href="{{ kolumna }}">
                                        {% elif forloop.counter == 2 %}
                                        {{ kolumna }}</a></td>
                                {% else %}
                                    <td>{{ kolumna }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

    {% if czy_zalogowany is True and czy_gmina is True %}
        <div id="submit_button">
            <button class="button" type="submit">Submit</button>
        </div>
        </form>
    {% endif %}

</div>
</body>
</html>