<!DOCTYPE html>
<html lang="en">
<head>
{#    <meta charset="UTF-8">#}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Wybory Prezydenta 2000</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        unitName = '{{ name }}';
        isCommunity = '{{ czy_gmina }}'
    </script>
    <script type="text/javascript" src="/static/subpage.js"></script>
    <script type="text/javascript" src="/static/js.cookie.js"></script>
</head>
<body>
<header>
    <div id="left_box" class="side_box">
        <a href="/search">
            <div>search</div>
        </a>
    </div>
    <div id="title">
        <h1>Wybory Prezydenta 2000</h1>
    </div>
    <div id="right_box" class="side_box"></div>
</header>
<div id="tresc_wrapper">
    {% csrf_token %}
    <nav>
        <h3>Powrót do strony głownej:
            <a href="/">Polska</a>
        </h3>
    </nav>
    <section id="wyniki_top">
        <div id="wyniki_top_zbiorcze">
            <div id="wyniki_top_zbiorcze_gora">
                <div>
                    <h4>Zbiorcze statystyki głosowania</h4>
                    <div id="zbiorcze_info"></div>
                </div>
            </div>
        </div>

    </section>
    <div class="button_box"></div>

    <section id="wyniki_ogolne">
        <h3>Wyniki wyborów</h3>
        <div id="wyniki_ogolne_tabela">
            <table class="wyniki" id="wyniki_ogolne_zawartosc"></table>
        </div>
    </section>

    <section id="wyniki_szczegolowe">
        <div id="wyniki_szczegolowe_tabela">
            <table class="wyniki" id="wyniki_szczegolowe_zawartosc"></table>
        </div>
    </section>

    <div class="button_box"></div>
</div>
</body>
</html>