<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>Wybory Prezydenta 2000</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        unitName = '{{ name }}';
        isLogged = '{{ czy_zalogowany }}';
        isCommunity = '{{ czy_gmina }}'
    </script>
    <script type="text/javascript" src="/static/subpage.js"></script>
</head>
<body>
<div id="top">
    <div id="left_box" class="side_box">
        <a href="/search">
            <div>
                search
            </div>
        </a>
    </div>
    <div id="title">
        <h1>Wybory Prezydenta 2000</h1>
    </div>
    <div id="right_box" class="side_box">

        {% if czy_zalogowany is False %}
            <a href="/login">
                <div>
                    login
                </div>
            </a>
            <a href="/signup">
                <div>register
                </div>
            </a>
        {% else %}
            <a href="/logout" style="border-right: 1px solid whitesmoke">
                <div>
                    logout
                </div>
            </a>
        {% endif %}


    </div>
</div>
<div id="tresc">
    <form action="" method="POST">
        {% csrf_token %}
        <div id="nawigacja">
            <h3>Jesteś tutaj:
                <a href="/">Polska</a>
                {% for el in jednostki %}
                    | <a href="{{ el }}">{{ el }}</a>
                {% endfor %}
            </h3>
        </div>
        <div id="wyniki_top">
            <div id="wyniki_top_zbiorcze">
                <div id="wyniki_top_zbiorcze_gora">
                    <div>
                        <h4>Zbiorcze statystyki głosowania</h4>
                        <div id="zbiorcze_info"></div>
                    </div>
                </div>
            </div>

        </div>
        {% if czy_zalogowany is True and czy_gmina is True %}
            <div id="submit_button">
                <button class="button" type="button">Wyślij</button>
            </div>
        {% endif %}

        <div id="wyniki_ogolne">
            <h3>Wyniki wyborów</h3>
            <div id="wyniki_ogolne_tabela">
                <table class="wyniki" id="wyniki_ogolne_zawartosc"></table>
            </div>
        </div>


        <div id="wyniki_szczegolowe">
            <div id="wyniki_szczegolowe_tabela">
                <table class="wyniki" id="wyniki_szczegolowe_zawartosc"></table>
            </div>
        </div>

        {% if czy_zalogowany is True and czy_gmina is True %}
            <div id="submit_button">
                <button class="button" type="button">Wyślij</button>
            </div>
        {% endif %}
    </form>
</div>
</body>
</html>